@using HardwareStore.Client.Data
@using HardwareStore.Domain.Enums
@inherits LayoutComponentBase

@inject NavigationManager NavigationManager;

<PageTitle>Магазин бытовой техники Атлант</PageTitle>

<MudThemeProvider IsDarkMode="true"/>
<MudDialogProvider/>
<MudSnackbarProvider/>


<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Edge="Edge.Start" Size="Size.Medium" DisableElevation="true" Color="Color.Transparent">
            <MudImage Width="100" Height="100" Src="logo.svg"></MudImage>
        </MudIconButton>
        <MudTooltip Text="Каталог">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="() => DrawerToggle()"/>
        </MudTooltip>
        <MudSpacer/>
        <div class="d-flex justify-content-end rounded-3 mr-5" style="background: #0000001e">
            <MudTooltip Text="Корзина">
                <MudIconButton Size="Size.Medium" Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Inherit"/>
            </MudTooltip>
            <MudTooltip Text="Избранное">
                <MudIconButton Size="Size.Medium" Icon="@Icons.Material.Filled.Favorite" Color="Color.Inherit"/>
            </MudTooltip>
            <MudTooltip Text="Заказы">
                <MudIconButton Size="Size.Medium" Icon="@Icons.Material.Filled.ShoppingBag" Color="Color.Inherit"/>
            </MudTooltip>
            <MudTooltip Text="Профиль">
                <MudIconButton OnClick="NavigateToCabinet" Size="Size.Medium" Color="Color.Inherit" Icon="@Icons.Material.Filled.AccountCircle" DisableElevation="true"/>
            </MudTooltip>

            @if (AppState.AuthorizedUser is not null && AppState.AuthorizedUser.Role == Roles.Administrator)
            {
                <MudTooltip Text="Категории">
                    <MudIconButton OnClick="OpenMainCategories" Size="Size.Medium" Icon="@Icons.Material.Filled.Category" Color="Color.Inherit"/>
                </MudTooltip>
                <MudTooltip Text="Подкатегории">
                    <MudIconButton OnClick="OpenCategories" Size="Size.Medium" Icon="@Icons.Material.Filled.Apps" Color="Color.Inherit"/>
                </MudTooltip>
                <MudTooltip Text="Товары">
                    <MudIconButton OnClick="OpenProducts" Size="Size.Medium" Icon="@Icons.Material.Filled.Chair" Color="Color.Inherit"/>
                </MudTooltip>
            }
        </div>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent Class="ma-5">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void NavigateToCabinet()
    {
        if (!AppState.IsLogged)
        {
            NavigationManager.NavigateTo("/authorization");
            return;
        }
        NavigationManager.NavigateTo("/cabinet");
    }
    
    private void OpenMainCategories()
    {
        NavigationManager.NavigateTo("/main_categories");
    }
    
    private void OpenCategories()
    {
        NavigationManager.NavigateTo("/categories");
    }
    private void OpenProducts()
    {
        NavigationManager.NavigateTo("/products");
    }
}